.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardContainer {
  border: 2px solid black;
  padding:1.5rem;
  border-radius: 5px;
  background-color: #403D45;
  color: #fff;
}

.searchBox {
  height: 2rem;
}

.searchBox input {
  height: 80%;
}

.searchBox button {
  border: none;
  background-color: #2685D9;
  color: #fff;
  margin-left: .5rem;
  height: 100%;
}


